#Solution 1 Python: Say "hello, world!" with python

In [8]:
if __name__ == '__main__':
    print ("Hello, World!")

Hello, World!


#Solution 2 Python: check an integer is  a weird number or not
#Mindset: There are two ways to be "a Weird Number": odd number  and  6<= even-number<=20

In [11]:
#!/bin/python

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if (n%2 == 1)or (n%2 == 0 and n>=6 and n<=20):
        print("Weird");
    else:
        print("Not Weird");

10
Weird


#Solution 3 Python: print the result of a+b, a-b, a*b

In [14]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

4
5
9
-1
20


#Solution 4 Python: print the result of a/b and a//b

In [15]:
from __future__ import division

if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
3
1
1.3333333333333333


#Solution 5 Python: Read an integer N . For all non-negative integers i<N , print i^2 .

In [16]:
if __name__ == '__main__':
    n = int(input())
for i in range(n):
    print(i*i)

10
0
1
4
9
16
25
36
49
64
81



#Solution 1 SQL: Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

#select * from city where population > 100000 and countrycode = 'USA';

#Solution 2 SQL: Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

#select NAME from CITY where COUNTRYCODE = 'USA' and POPULATION > 120000;

#Solution 3 SQL: Query all columns (attributes) for every row in the CITY table.

#select * from CITY;

#Solution 4 SQL: Query all columns for a city in CITY with the ID 1661.

#select * from city where id= 1661;

#Solution 5 SQL: Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

#select * from city where countrycode = 'JPN';

#Solution 6 SQL: Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

#select name from city where countrycode = 'JPN';

#Solution 7 SQL: Query a list of CITY and STATE from the STATION table.

#select city,state from station;

#Solution 8 SQL: Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

#select distinct city from station where mod(id,2)=0;

#Solution 9 SQL: find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

#select (count(city)-count(distinct city)) from station;

#Solution 10 SQL: Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths

#select city,length(city) from station order by length(city) asc, city limit 1;
#select city,length(city) from station order by length(city) desc, city limit 1;